<!-- INICIO: Gestión de Directivas dentro del primer párrafo: Aplicamos [ngStyle], [(ngModel)] y *ngIf-->
<button (click)="manejarClick()">Cambia Color Texto, Pone Background Amarillo y Muestra/Oculta Parrafo</button>

<input type="text" [(ngModel)]="estilosParrafo.color">
<p>{{estilosParrafo | json}}</p>

<p [ngStyle]="estilosParrafo" *ngIf="mostrar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat et eum,
  mollitia nobis a quam, aliquam quos amet ex quibusdam voluptatibus temporibus corrupti odio tempora quod dignissimos
  nemo suscipit ipsa!</p>

<p *ngIf="!mostrar">Otro párrafo</p>

<select [(ngModel)]="estilosParrafo.backgroundColor">
  <option value="">Elige un color</option>
  <option value="blue">Azul</option>
  <option value="yellow">Amarillo</option>
  <option value="red">Rojo</option>
</select>

<input type="range" (input)="manejarTamano($event)">
<!-- FIN: Gestión de Directivas dentro del primer párrafo: Aplicamos [ngStyle], [(ngModel)] y *ngIf-->

<!-- Aplicamos el [ngClass] -->
<app-semaforo></app-semaforo>

<!-- Aplicamos el *ngFor y creamos una clase Persona -->
<app-lista-personas></app-lista-personas>

<!-- Aplicamos el *ngFor y [ngClass] -->
<app-episodios></app-episodios>

<!-- Aplicamos el [ngSwitch] y [(ngModel)] -->
<app-seleccion></app-seleccion>

<!-- Creamos una directiva personalizada [subrayado] -->
<p subrayado>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, assumenda accusamus? Dolore, in officia.
  Repellendus neque laboriosam labore consequuntur eius fugiat, expedita alias commodi, dolores praesentium, blanditiis
  tempora ea. Repellat.</p>