<table>
    <tr>
        <th>Número (Índice del ngFor)</th>
        <th>Título</th>
        <th>Director</th>
        <th>Primer Elemento</th>
        <th>Último Elemento</th>
        <th>Elementos Pares</th>
        <th>Elementos Impares</th>
    </tr>
    <tr *ngFor="let episodio of episodios; let indice = index, let primero = first; let ultimo = last; let pares = even; let impares = odd;"
        [ngClass]="{ filaPar: pares, filaImpar: impares }">
        <td>{{ indice }}</td>
        <td>{{ episodio.title }}</td>
        <td>{{ episodio.director }}</td>
        <td>{{ primero }}</td>
        <td>{{ ultimo }}</td>
        <td>{{ pares }}</td>
        <td>{{ impares }}</td>
    </tr>
</table>